<ion-view title="Choice" id="page1" style="background-color:#EFEFEF;">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-help-circled"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 157px;"></div>
    <div id="choice-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#A9A9A9;font-size:25px;">
        <strong>Choice what to see first</strong>
      </p>
    </div>
    <div id="choice-button-bar1" class="button-bar">
      <a ui-sref="fireMapping()" id="choice-button4" style="color:#FFFFFF;" class="button button-assertive button-block">Fire Mapping</a>
    </div>
    <a ui-sref="graphics()" id="choice-button5" style="color:#FFFFFF;" class="button button-assertive button-block">Graphics</a>
    <div class="spacer" style="width: 300px; height: 1px;"></div>
    <a ui-sref="profile()" id="choice-button20" class="button button-assertive button-block"> Profile</a>
  </ion-content>
</ion-view>