<ion-view title="Fire Mapping" id="page4" style="background-color:#EFEFEF;">
  <ion-content padding="true" class="has-header">
    <button id="fireMapping-button11" style="border-radius:180px 180px 180px 180px;" class="button button-stable button-small">+</button>
    <button id="fireMapping-button10" style="border-radius:180px 180px 180px 180px;" class="button button-stable button-small">-</button>
    <div class="spacer" style="width: 300px; height: 3px;"></div>
    <div class="spacer" style="width: 300px; height: 63px;"></div>
    <div>
      <img src="img/SangrxCeTAeeGMWqqvKA_incendiosno_mundo.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 147px;"></div>
    <div id="fireMapping-button-bar2" class="button-bar">
      <a ui-sref="search()" id="fireMapping-button15" class="button button-assertive button-block icon ion-ios-search-strong"></a>
      <a ui-sref="fireWarning()" id="fireMapping-button16" class="button button-assertive button-block icon ion-alert-circled"></a>
      <a ui-sref="graphics()" id="fireMapping-button17" class="button button-assertive button-block icon ion-podium"></a>
    </div>
  </ion-content>
</ion-view>