<ion-view title="Fire Warning" id="page7" style="background-color:#EFEFEF;">
  <ion-content padding="true" class="has-header">
    <ion-list id="fireWarning-list14">
      <ion-item class="item-icon-left assertive" id="fireWarning-list-item35">
        <i class="icon ion-ios-telephone"></i>Contacts</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 45px;"></div>
    <ion-list id="fireWarning-list16">
      <ion-item class="assertive" id="fireWarning-list-item47">Police</ion-item>
    </ion-list>
    <ion-list id="fireWarning-list17">
      <ion-item id="fireWarning-list-item48">190</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 29px;"></div>
    <ion-list id="fireWarning-list18">
      <ion-item class="assertive" id="fireWarning-list-item49">Fireman</ion-item>
      <ion-item id="fireWarning-list-item50">192</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <div id="fireWarning-button-bar5" class="button-bar"></div>
  </ion-content>
</ion-view>