<ion-view title="Profile" id="page6" style="background-color:#EFEFEF;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 31px;"></div>
    <ion-list id="profile-list9">
      <ion-item class="item-avatar assertive" id="profile-list-item17">
        <img src="img/z2VoLPHtQI2BRS2qL9Xl_20190514_162629.jpg">
        <h2assertive>Amanda Jacomette</h2assertive>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <ion-list id="profile-list11">
      <ion-item class="assertive" id="profile-list-item23">Email</ion-item>
      <ion-item id="profile-list-item24">amandajacomett@gmail.com</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <ion-list id="profile-list13">
      <ion-item class="assertive" id="profile-list-item32">Password</ion-item>
      <ion-item id="profile-list-item33">************</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 31px;"></div>
    <div id="profile-button-bar4" class="button-bar">
      <button id="profile-button26" style="font-weight:500;" class="button button-assertive button-block">Change</button>
    </div>
  </ion-content>
</ion-view>