<ion-view title="Signup" id="page2" style="background-color:#EFEFEF;">
  <ion-content padding="true" class="has-header">
    <form id="signup-form1" class="list">
      <div class="spacer" style="height: 100px;"></div>
      <ion-list id="signup-list1">
        <label class="item item-input" id="signup-input1">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input2">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <ion-toggle toggle-class="toggle-assertive" id="signup-toggle1">Location</ion-toggle>
      <a ui-sref="choice()" id="signup-button7" style="color:#FFFFFF;" class="button button-assertive button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>